- @posts.each do |post|
	%br
	.row-fluid
		.row-fluid
			%h2= post.title
			%br
			%h4= post.date
			%br
		.row-fluid
			.span9
				= post.content
				
			.span3
				.thumbnail
					= image_tag post.image_url(:thumb).to_s
	%br