.contacts.innercontainer
	%br
	- subsection.posts.each do |post|
		.row-fluid
			.span12
				.row-fluid
					.span12
						%h3= post.title
				.row-fluid
					-if !post.image_url(:large).nil?
						.span7
							.thumbnail
								= image_tag post.image_url(:large).to_s
						.span5
							= post.content.nil? ? post.content : post.content.html_safe
					- else
						.span12
							= post.content.nil? ? post.content : post.content.html_safe