.text.innercontainer
	- subsection.posts.each do |post|
		.row-fluid
			.row-fluid
				.span12
					%h2= post.title
					%br
			.row-fluid
				.span12
					= post.content.nil? ? post.content : post.content.html_safe
	%br
	%br