#accordion
	- @sections.each do |section|
		%h3= section.name
		%div
			%ul.nav
				- section.pages.each do |page|
					%li= link_to page.name, section_page_path(section, page)
:javascript
	$('#accordion').accordion({
		collapsible: true,
		autoHeight: true
	})