.container
	.row-fluid
		#header.span12
			%b= image_tag AjoCms::Company.first.logo_url.to_s
	.navbar
		.navbar-inner
			.container
				%ul.nav.span12
					- @sections.each do |section|
						%li= link_to section.name, "#{section.name}"
	= render 'layouts/page_templates/' + @page_layout