%table.table.table-striped
	%thead
		%tr
			%th User
			%th
	- @users.each do |user|
		%tr
			%td
				= user.email
			%td.actions
				= link_to edit_user_path(user) do
					%i.icon-pencil
				= link_to user_path(user), method: :delete, :confirm => "Are you sure?" do
					%i.icon-remove