- subsection.posts.each_slice(3) do |slice|
	.row-fluid
		- slice.each do |post|
			.span4
				.row-fluid
					.span12
						%h3
							= post.title
							= link_to 'Edit', edit_section_page_subsection_post_path(@section, @page, subsection, post, :type => 'blogs')
							= link_to 'Delete', section_page_subsection_post_path(@section, @page, subsection, post), method: :delete, :confirm => 'Are you sure?'
						%br
						= post.content.html_safe
	%br
