%ul.nav.nav-pills
	%li
		= link_to new_section_page_post_path(@section, @page, :type => 'slider') do
			%span.btn Add Slider Image
	%li
		= link_to new_section_page_post_path(@section, @page, :type => 'headline') do
			%span.btn Add Text
	%li
		= link_to new_section_page_post_path(@section, @page, :type => 'attachment') do
			%span.btn Add Attachment