%br
%br
= link_to new_section_page_subsection_post_path(@section, @page, subsection, :type => 'headline') do
	%span.btn
		%i.icon-plus
= link_to section_page_subsection_path(@section, @page, subsection), :method => 'delete', :confirm => 'Are you sure?' do
	%span.btn
		%i.icon-remove
%span.btn
	%i.icon-move
%br
%br