@import 'bootstrap'
@import 'subnav'
@import 'navbar'
@import 'themes'
@import 'datepicker'

#admin
	margin-top: 90px
#preview
	margin-top: 40px

#header
	margin-bottom: 0px
	height: 160px

#subheader
	height: 40px

#sidenav ul.nav li a
	padding-bottom: 10px

#sidenav ul.nav
	margin-bottom: 0px
	ul.sub
		margin-bottom: 10px
	li.sub
		margin-left: 5px


.spacer
	height: 8px
	margin-bottom: 0px

#sidenav
	padding: 10px
	+border-radius(3px)
#content
	margin-top: 40px

//sticky footer

#info
	padding: 10px

*
	margin: 0

html, body
	height: 100%

.wrapper
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -212px

.footer, .push
	height: 242px

	ul
		list-style: none
		margin: 0px

.section_map
	min-height: 25px
	margin-bottom: 10px
	.page_map
		font-size: 10px
.logo

//forms
.modal-header
	a
		float: right
form
	margin: 0px
	textarea
		height: 120px
		width: 98%

td.links, th.links
	width: 60px

#actions ul.nav.nav-pills
	li.name
		padding: 0px 15px 0px 0px
	li a
		padding: 0px 5px 0px 0px

.carousel
	height: 400px

.field
	margin-bottom: 10px
	.label-head
		font-weight: bold
		padding: 4px
	.detail
		min-height: 30px
		padding: 4px

ul.nav li.dropdown:hover ul.dropdown-menu
	display: block

a.menu:after, .dropdown-toggle:after
	content: none

ul
	.menu-dropdown li a, .dropdown-menu li a
		padding: 4px 15px

