.navbar .dropdown-menu
  margin-top: 0px
  padding: 0px

.navbar .dropdown-menu li
  padding: 0px

.dropdown-menu a
  padding: 6px

.navbar .dropdown-menu:before
  display: none

.navbar .dropdown-menu:after
  display: none

.navbar
  margin-bottom: 0px !important

.default-layout #subheader
  +border-radius(1px)

.default-layout .footer
  +border-radius(1px 1px 0px 0px)