@mixin color-scheme($header, $navbar, $spacercolor, $slider, $slidercolor, $footer, $menu, $menuhover, $bodyfont, $menufont)
	color: $bodyfont

	#header
		+background-image(linear-gradient($header * 0.95, $header * 1.1))
		+linear-gradient($header * 0.95, $header * 1.1)
		background: $header

	.spacer
		background: $spacercolor

	#subheader, #sidenav
		min-height: $navbarHeight
		padding-left:  20px
		padding-right: 20px
		@include gradient-vertical($navbar + #242424, $navbar)
		border: 1px solid $navbar
		@include box-shadow(#{0 1px 4px rgba(0,0,0,.065)})

		// Prevent floats from breaking the navbar
		@include clearfix()


	#sidenav ul.nav li a
		color: $menufont

	#sidenav ul.nav li a:hover
		background: none
		color: $spacercolor

	.footer
		@include gradient-vertical($footer, $footer + #111)
		@include box-shadow(#{0 1px 4px rgba(0,0,0,.065)})
		color: $menufont
		a
			color: $menufont
	#info
		color: $menufont
		a
			color: $menufont
	.navbar .dropdown-menu
		background: $menu
		color: $menufont
		border-radius: 0px

	.navbar .nav li a.dropdown-toggle
		color: $menufont

	.navbar .nav li a.dropdown-toggle:hover
		background: $navbar * 1.2
		color: $menufont

	.dropdown-menu a
		color: $menufont
	.navbar .dropdown-menu li a:hover
		background: $menuhover
		color: $menufont

	.headercolor
		background: $header
	.navbarcolor
		background: $navbar
	.footercolor
		background: $footer
	.menucolor
		background: $menu
	.menuhovercolor
		background: $menuhover
	.bodyfontcolor
		color: $bodyfont
	.menufontcolor
		background: $menufont
	.carousel-caption
		background: $slider
		h4
			color: $slidercolor
		p
			color: $slidercolor

	ul.nav li.dropdown:hover ul.dropdown-menu
	display: block

	a.menu:after, .dropdown-toggle:after
		content: none

	ul
		.menu-dropdown li a, .dropdown-menu li a
			padding: 4px 15px

	.logo
		background: $header
.headercolor
	height: 60px
.navbarcolor
	height: 40px
.slidercolor
	height: 30px
.footercolor
	height: 30px
.menucolor
	height: 30px
.menuhovercolor
	height: 20px
.bodyfontcolor
	height: 10px
.menufontcolor
	height: 10px


/** themes go here! **/
/** header, navbar, spacercolor, slider, slidercolor, footer, menu, menuhover, bodyfont, menufont **/

.default
	+color-scheme(#2B4C7E, #567EBB, #000000, #000000, #FFFFFF, #567EBB, #1F1F20, #2B4C7E, #000000, #DCE0E6)

.purple
	+color-scheme(#967DBF, #000000, #000000, #000000, #FFFFFF, #000000, #000000, #222222, #000000, #FFFFFF)

.black
	+color-scheme(#414243, #000000, #000000, #000000, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF)

.clean
	+color-scheme(none, #222222, #000000, #000000, #000000, #303132, #000000, #414243, #000000, #FFFFFF)

.midnight
	+color-scheme(#341931, #111625, #000000, #111625, #FFFFFF, #111625, #111625, #341931, #000000, #FFFFFF)

.grapefruit
	+color-scheme(#FFF4D8, #C6559A, #000000, #C6559A, #500969, #C6559A, #500969, #500969, #500969, #FFF4D8)

.beach
	+color-scheme(#7DAFEA, #A88E69, #886E49, #FFFFFF, #643600, #A88E69, #886E49, #684E29, #643600, #FFFFFF)
