/** themes go here! **/


/** Purple default **/
#header
	background: #967dbf

#subheader
	background: #000

#content

.footer
	background: #000
	color: #FFF

.navbar .dropdown-menu
	background: #FFF
	color: #000

.navbar .nav li a.dropdown-toggle
	color: #FFF

.navbar .nav li a.dropdown-toggle:hover
	background: #222

.navbar .dropdown-menu li a:hover
	background: #967dbf
	color: #FFF